html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  font-family: Arial, sans-serif;
  background-image: url('./utils/background.jpg'); 
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  color: rgb(0, 255, 225);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
  font-size: 2.5rem; 
  color: rgb(0, 255, 225);
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.9);
}

.chat-container {
  width: 100%; 
  max-width: 600px; 
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 0.5rem 0;
  display: flex;
}

.user-message {
  margin-left: auto;
  background-color: #4f46e5;
  color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.bot-message {
  margin-right: auto;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.input-container {
  width: 100%; 
  max-width: 600px; 
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 40px;
  font-size: 1rem; 
  width: 100%;
  box-sizing: border-box;
}

.button {
  background-color: #4f46e5; 
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem; 
  width: 100%;
}

.response-container {
  width: 100%; 
  max-width: 600px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease, transform 1s ease;
}

.response-container.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem; 
  }
  
  .input-field {
    font-size: 0.9rem; 
  }
  
  .button { 
    font-size: 0.9rem; 
  }
}
